@model IEnumerable<RunescapeLootSim.Models.KillListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Kill Counter</h2>


<div>
    <div>
        <label>Total Kills:</label> @ViewBag.Data
    </div>
</div>

