@model RunescapeLootSim.Models.KillListItem

@{
    ViewBag.Title = "Loot";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">

            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }
    <div>
        <label>You've Won:</label> @ViewBag.Data
    </div>

    <div>
        @Html.ActionLink("Back to Fight", "Create")
    </div>

</body>

